.navbar {
    background-color: #ff006e; /* Color de fondo similar a la imagen */
    padding: 1rem;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navItem a {
    color: #ffffff; /* Color del texto */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .navItem a:hover {
    text-decoration: underline;
  }
  